#You can manually specify DSN,
#but make sure to specify drivers according to the database you are using (mysql, pgsql, sqlite, sqlsrv, mongodb),
#and specify database credentials according to your database name.
#All drivers uses UTF-8 as charset.

DB_DEFAULT_DRIVER=mysql

# MYSQL Configuration
MYSQL_DRIVER=mysql
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DSN=${MYSQL_DRIVER}:host=${MYSQL_HOST};port=${MYSQL_PORT};dbname=${MYSQL_DATABASE}

# MSSQL Configuration
MSSQL_DRIVER=sqlsrv
MSSQL_HOST=
MSSQL_PORT=1433
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_DSN=${MSSQL_DRIVER}:SERVER=${MSSQL_HOST},${MSSQL_PORT};DATABASE=${MSSQL_DATABASE};

# PostgreSQL Configuration
PGSQL_DRIVER=pgsql
PGSQL_HOST=
PGSQL_PORT=5432
PGSQL_DATABASE=
PGSQL_USER=
PGSQL_PASSWORD=
PGSQL_DSN=${PGSQL_DRIVER}:SERVER=${PGSQL_HOST},${PGSQL_PORT};DATABASE=${PGSQL_DATABASE};

# SQLite Configuration
SQLITE_DRIVER=sqlite
SQLITE_PATH=
SQLITE_DSN=${SQLITE_DRIVER}:${SQLITE_PATH};

# MongoDB Configuration
MONGODB_DRIVER=mongodb
MONGODB_HOST=
MONGODB_PORT=27017
MONGODB_DATABASE=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_DSN=${MONGODB_DRIVER}+srv://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}/${MONGODB_DATABASE}