#DATABASE
DB_ENGINE=InnoDB
DB_CHARSET=utf8mb4
DB_COLLATE=utf8mb4_general_ci
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=qmapper
DB_USERNAME=root
DB_PASSWORD=
DB_DSN=mysql:host=${DB_HOST};port=${DB_PORT};dbname=${DB_DATABASE};charset=${DB_CHARSET}